.gitignore
~$*
._*
*~
*.7z
*.a
Ankh.NoLoad
*.app
*.aps
*.bak
[Bb]in
[Bb]uild/
bin/**
cabal.config
cabal-dev
.cabal-sandbox/
cabal.sandbox.config
*.[Cc]ache
*.chi
*.chs.h
*.class
.classpath
*.com
*crunch*.local.xml
*.dbmdl
[Dd]ebug*/
dist
*.dll
*.dmg
.DS_Store
.DS_Store?
*.DS_Store
*.dylib
*.ear
ehthumbs.db
*.elf
*.exe
.externalToolBuilders/
*.gz
*.hex
*.hi
.hsenv
hs_err_pid*
*.i*86
*_i.c
*.ilk
ipch/
*.iso
*.jar
*.ko
*.la
*.lai
*.launch
*.lib
*.lo
.loadpath
local.properties
*.log
.metadata
*.mod
.mtj.tmp/
*.ncb
*ncrunch*
*~.nib
*.nupkg
*.o
*.obj
[Oo]bj/
*.[Oo]bj
*.opensdf
*.out
packages/
*_p.c
*.pch
*.pidb
.project
*.pydevproject
*.rar
*.resharper
_ReSharper*/
[Rr]elease*/
*.sass-cache
*.sbr
*.sdf
.settings/
*.slo
*.so
*.so.*
.Spotlight-V100
*.sql
*.sqlite
*.suo
.svn
*.swp
*.tar
*target*
*.testsettings
*.tlb
*.tlh
*.tmp
tmp/**
tmp/**/*
.Trashes
[Tt]est[Rr]esult*
[Tt]humbs.db
*.unsuccessfulbuild
*.user
*.userprefs
.virtualenv
*.vspscc
*.war
*.x86_64
*.zip